.App {
  text-align: center;
  background: hue-rotate(12deg) drop-shadow(0px 0px 25px #0152AC);
  /* background-image: url('https://img.freepik.com/premium-vector/abstract-seamless-pattern-small-squares-various-sizes-pixels-black-colors_444390-7713.jpg'); */
}

@media (prefers-reduced-motion: no-preference) {
  .animated-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::selection {
  background: transparent;
}

/* For Mozilla Firefox */
::-moz-selection {
  background: transparent;
}

img {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  user-select: none;
}


